*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.2fr;
    background-color: pink;
}

.header{
    background-color: lightcoral;
    grid-area: 1,1,2,2;
}

.maincontent{
    grid-area: 2,1,3,2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 2;
}

.maincontent::before{
    content: "";
    background-image: url(pink\ toy.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}

footer{
    grid-area: 3,1,4,2;
    background-color: lightcoral;
    z-index: 2;
}